<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="update" method="post" >
        Id:
        <input type="text" id="id" name="id" ><br>
        Name:<input type="text" id="name" name="name"><br>
        Fees:<input type="text" id="fees" name="fees"><br>
        Duration:<input type="text" id="duration" name="duration"><br>
        <input type="submit" id="sub" name="sub" value="Submit">
    </form>

</body>
</html>